/* Modern Tarayıcılar için */
body::-webkit-scrollbar {
    width: 10px; /* Kaydırma çubuğu genişliği */
}

body::-webkit-scrollbar-thumb {
    background: #333; /* Kaydırma çubuğu rengi */
    border-radius: 5px; /* Yuvarlak köşeler */
}

body::-webkit-scrollbar-track {
    background: #121212; /* Arka plan track rengi */
}

/* Firefox için */
body {
    scrollbar-color: #333 #121212;
    scrollbar-width: thin;
}

/* Varsayılan ayarlar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: black;

    background: radial-gradient(circle at center, #000000, black);
    transition: background 0.1s ease;
}

/* Navbar stil */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(150, 150, 150, 0.1); /* Cam efekti */
    backdrop-filter: blur(10px); /* Cam efektini elde etmek için */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Menüler (Linkler) */
.navbar .menu {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 30px;
}

.navbar .menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar .menu a:hover {
    color: #835ED0; /* Hover rengi */
}

/* Hamburger Menüsü */
.navbar .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.navbar .hamburger div {
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 5px;
}

/* Mobil Menü */
@media (max-width: 768px) {
    .navbar .menu {
        display: none;
    }
    .navbar .hamburger {
        display: flex;
    }

    .navbar .menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 30px;
        background: rgba(150, 150, 150, 0.1);
        backdrop-filter: blur(10px);
        padding: 15px;
        border-radius: 10px;
    }

    .navbar .menu a {
        font-size: 20px;
        margin: 10px 0;
    }
}

/* Spline iframe */
.spline-container iframe {
    width: 100%;
    height: 100vh;
    border: none;
    top: 0;
    right: 0;
    pointer-events: auto;
}

/* Diğer sectionlar */
.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

section {
    min-height: 100vh; /* Her bölüm tam ekran yüksekliğinde */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: rgba(18, 18, 18, 0.7);
}

section:nth-child(even) {
    background: rgba(14, 11, 28, 0.5);
}

h1, p {
    max-width: 800px;
}

footer {
    width: 100%; /* Tam genişlik */
    padding: 10px;
    font-size: 12px;
    text-align: center; /* Yatayda ortalar */
    background-color: #000000;
    color: #fff;
}

/* Spline katmanına göre yazıyı konumlandırma */
.spline-section {
    position: relative; /* İçindeki elemanları konumlandırmak için */
    width: 100%;
    height: 100vh;
}

/* Spline üzerine eklenen yazıyı kutuya al */
.spline-text-box {
    position: absolute; /* Konumlandırmak için */
    left: 30px;  /* Sol tarafta 20px uzaklık */
    top: 50%;    /* Ekranın ortasında konumlandır */
    margin-top: 60px;
    transform: translateY(-50%);  /* Dikeyde ortalamak için */
    background-color: rgba(0, 0, 0, 0.1); /* Kutu arka planı */
    color: white; /* Yazı rengi */
    padding: 20px; /* Kutu içi boşluk */
    width: 700px; /* Kutu genişliği */
    height: 700px;
    max-width: 90%; /* Genişliğin maksimum yüzde 90 olmasını sağla */
    font-size: 1.2em; /* Yazı boyutu */
    z-index: 10;  /* Yazının Spline'ın önünde görünmesini sağlamak için */
}

/* Kutu içindeki başlık */
.spline-text-box h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 50px;
}

/* Kutu içindeki paragraf */
.spline-text-box p {
    font-size: 1.2em;
    line-height: 1.5;
}

.spline-text-box img {
    display: flex;
    box-shadow: 0px 0px 300px rgba(101, 54, 197, 0.5);
    margin-top: 50px;
    align-items: center;
    height: 35%;
    width: auto;
    border-radius: 500px;
}

/* Buton tasarımı ve sabit konumlandırma */
.spline-button {
    position: absolute; /* Konumu sabit olacak şekilde */
    bottom: 20px;  /* Ekranın üst kısmına 20px uzaklık */
    right: 20px;  /* Ekranın sağ kısmına 20px uzaklık */
    padding: 15px 50px;
    font-size: 1.2em;
    background-color: #1E103B;  /* Renk ayarını yapın */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;  /* Butonun, spline'ın üstünde görünmesini sağlamak için */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Hafif gölge efekti */
    transition: background-color 0.3s;
}

/* Butona hover efekti */
.spline-button:hover {
    background-color: #6536C5;  /* Hover'da renk değişimi */
}

/* Linkin altını ve rengini kaldırın */
.spline-button a {
    text-decoration: none; /* Alt çizgiyi kaldırır */
    color: white; /* Yazı rengini beyaz yapar */
}

/*  buttons */

/* Spline-text-box içindeki butonların düzeni */
.spline-text-box .buttons {
    display: flex;

    gap: 15px; /* Butonlar arasındaki boşluk */
    margin-top: 50px; /* Üstten boşluk */
    justify-content: flex-start; /* Sola hizalama */
}

/* Butonların görünümü */
.spline-text-box .buttons button {
    width: 150px;
    background-color: transparent; /* İç kısmı şeffaf */
    color: #835ED0; /* Yazı rengi mor */
    border: 2px solid #835ED0; /* Mor kenarlık */
    border-radius: 0px; /* Hafif yuvarlatılmış kenarlar */
    padding: 10px 20px; /* İç boşluklar */
    font-size: 16px; /* Yazı boyutu */
    cursor: pointer; /* Fare işaretçisini el yapar */
    transition: all 0.3s ease; /* Hover animasyonu için */
}

/* Hover durumunda */
.spline-text-box .buttons button:hover {
    background-color: #835ED0; /* Hover ile iç renk mor olur */
    color: white; /* Yazı beyaz olur */
    transform: scale(1.05); /* Hafif büyür */
}


/* GPU hızlandırma için */
.spline-container iframe {
    transform: translateZ(0); /* GPU hızlandırma */
}

span {
    color: #462589;
}

.about-section {
    background: #000000;
    padding: 20px;
    border-radius: 15px;
    width: 500px;
    box-shadow: 0px 0px 150px #2d1d977e;
    border: solid #676767;
}

.skill {
    margin-bottom: 15px;
}

.skill-title {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: left;
}

.progress-bar {
    width: 100%;
    background: #2E2E2E;
    height: 15px;
    border-radius: 10px;
    position: relative;
}

.progress {
    height: 15px;
    border-radius: 10px;
    position: absolute;
}

.designing { width: 60%; background: #4A8C8A; }
.coding { width: 90%; background: #2E57A6; }
.simulating { width: 70%; background: #A67C2E; }
.testing { width: 80%; background: #5A2EA6; }

.description {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 2px solid #2E2E2E;
    font-size: 18px;
    text-align: center;
}

.description-section {
    font-size: 22px;
    width: 700px;
    padding: 50px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

mark-a {
    background-color: #422784;
    color: white;
    padding: 2px 0px;
}
mark-b {
    background-color: #292784;
    color: white;
    padding: 2px 0px;
}


/*
*/
.services-section {
    display: flex;
    gap: 60px;
}

.image-box {
    position: relative;
    width: 220px;
    height: 450px;
    border-radius: 50% / 25%;
    overflow: hidden;
    cursor: pointer;    
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    height: 35%;
    background: rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    padding: 20px;
    transition: height 0.5s ease, background 0.5s ease;
}

.content-text {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    height: 0%;
    transform: translateY(50%);
    transition: transform 0.5s ease, opacity 0.5s ease, height 0.5s ease;
    opacity: 0;
}

.title-text {
    font-size: 18px;
    height: 40%;
    text-align: center;
    color: #ffffff;
    transition: opacity 0.5s ease;
    opacity: 1;
}

/* Hover Efekti */
.image-box:hover .overlay {
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.image-box:hover .content-text {
    height: 50%;
    transform: translateY(0);
    opacity: 1;
}

.image-box:hover .title-text {
    opacity: 0;
}


/*
PopUp
*/

/* Popup dış alan */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Arka plan bulanık siyah */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden; /* Varsayılan olarak gizli */
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Popup içerik */
.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* Kapatma butonu */
.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  color: #C64665; /* Sevdiğin renk tonu :) */
}

/* Popup görünür olduğunda */
.popup.show {
  visibility: visible;
  opacity: 0.7;
}

/*
*/
.space-bg {
    width: 100%;
    height: 100vh;
}

#star-container {
    width: 100%;
    height: 100%;
}
canvas {
    display: block;
    width: 100%;
    height: 100%;
}