/* Genel Sayfa Stili */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #111;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    scrollbar-color: #333 #121212;
    scrollbar-width: thin;
}

.code-box {
    background-color: #000000;
    color: #9c9c9c;
    padding: 0 3rem 0 3rem;
    overflow-x: auto;
}


/* Modern Tarayıcılar için */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 5px;
}

body::-webkit-scrollbar-track {
    background: #121212;
}

a {
    text-decoration: none;
    color: #8a9ba8;
    transition: color 0.3s ease;
}

a:hover {
    color: #9346c6;
}

/* Ana Konteyner */
.container {
    flex: 1;
    width: 50%;
    max-width: 90%;
    margin: 100px auto;
    padding: 0 50px;
}

@media (max-width: 992px) {
    .container {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .container {
        width: 90%;
    }
}

/* Navbar Stili */
.navbar {
    font-size: 14px;
    margin-bottom: 20px;
    color: #888;
}

.navbar a {
    color: #888;
}

.navbar a:hover {
    color: #9346c6;
}

/* Blog Başlık */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: bold;
}

/* Logo Konteyner */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid #5F38BE;
    border-radius: 50%;
    background-color: transparent;
}

.logo-container img {
    width: 50px;
    height: 50px;
}

@media (max-width: 768px) {
    .logo-container {
        width: 40px;
        height: 40px;
    }

    .logo-container img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 576px) {
    .logo-container {
        width: 30px;
        height: 30px;
    }

    .logo-container img {
        width: 30px;
        height: 30px;
    }
}

/* Blog Listesi */
.blog-list {
    list-style: none;
    padding: 0;
}

.blog-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    font-size: 14px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-size: 14px;
    color: #666;
}

@media (max-width: 992px) {
    .date {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .date {
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    .date {
        font-size: 12px;
    }
}

footer {
    font-size: 13px;
    padding: 2px;
    text-align: center;
    background-color: #000;
    height: 60px;
    color: #fff;
}

@media (max-width: 992px) {
    footer {
        font-size: 14px;
        height: 50px;
    }
}

@media (max-width: 768px) {
    footer {
        font-size: 13px;
        height: 40px;
    }
}

@media (max-width: 576px) {
    footer {
        font-size: 12px;
        height: 30px;
    }
}

/* Responsive Design */
@media (max-width: 1200px) {
    .container {
        max-width: 90%;
        padding: 0 30px;
    }

    h1 {
        font-size: 32px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 95%;
        padding: 0 20px;
    }

    h1 {
        font-size: 28px;
    }

    .navbar {
        font-size: 14px;
    }

    .blog-list li {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }

    h1 {
        font-size: 24px;
    }

    .navbar {
        font-size: 13px;
    }

    .blog-list li {
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    .container {
        margin: 20px auto;
        padding: 0 5px;
    }

    h1 {
        font-size: 20px;
    }

    .navbar {
        font-size: 12px;
    }

    .blog-list li {
        font-size: 12px;
    }
}
